! .vscode/**
.vscode/start_program
.idea/

build/
log/
install/

*.db3
metadata.yaml
.cache/
*.pyc
*.cpy
*.zip
*.mcap

*.vc.db
*.db
.db-shm
.vscode/
.vscode/settings.json
.vscode/browse.vc.db-wal
.vscode/browse.vc.db-shm
